body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(28, 77, 118); 
    padding: 25px;
}
h1{
    color: white;
    text-align: center;
}
.flexContainer{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexItem{
    flex: 1;
    min-width: 300px;

    height: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.5s;
}
.flexItem:hover{
    flex: 2;
}
.flexItem h3{
    color: white;
    border-bottom: 1px solid white;
    padding: 10px;
}
.flexItem a{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flexItem .mgIMG{
    background-image: url("./images/mgSS.png");
}
.flexItem .fdIMG{
    background-image: url("./images/fdSS.png");
}
.flexItem .kmIMG{
    background-image: url("./images/kmSS.png");
}