body{
    background-color: rgb(28, 77, 118); 
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.left{
    background-color: whitesmoke;
    flex: 1;
    min-width: 300px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    
}
.left h1{
    border: 1px solid black;
    box-shadow: 10px 10px black;
    padding: 10px;
}
.left textarea{
    resize: none;
    width: 100%;
    flex: 1;
    outline: none;
  
}

svg{
    flex: 1;
    min-width: 1000px;
}